/* base */

* {
    box-sizing: border-box;
    transition: .2s;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

html,
body {
    font-family: 'Montserrat', sans-serif !important;
    line-height: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #000000;
    background-color: #EDF5F8 !important;
}

a,
a:hover {
    color: #000000 !important;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer !important;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    font-family: 'Montserrat', sans-serif !important;
    border: none;
    outline: none;
    margin: 0px;
    cursor: pointer;
}

input:hover,
button:hover {
    cursor: pointer;
    border: 0;
    outline: none;
    box-shadow: none;
}

input:focus,
button:focus {
    cursor: pointer;
    box-shadow: none;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 5px 0 5px;
}

@media (max-width: 1250px) {
    .container {
        max-width: 1250px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
        padding: 0 10px 0 10px;
    }
}

.obj-title {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.05em;
}

@media (max-width: 992px) {
    .obj-title {
        font-size: 29px;
        line-height: 40px;
    }
}

@media (max-width: 767px) {
    .obj-title {
        font-size: 24px;
        line-height: 29px;
    }
}

.header-color {
    color: #D11131;
}

.btn-form {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #FED539;
    background: #D11131;
    box-shadow: 0px 19px 16px -15px rgba(227, 58, 86, 0.74);
    border-radius: 10px;
    transition: .3s;
    padding: 18px 53px;
}

@media (max-width: 576px) {
    .btn-form {
        padding: 18px 19px;
    }
}

.btn-form:hover {
    box-shadow: 0px 19px 16px -15px rgba(102, 56, 139, 0.74);
    background: rgb(102, 56, 139);
    transition: .3s;
    transform: scale(1.02);
}

.slider__dots {
    display: flex;
    margin: 0 25px;
}

.slider__dot {
    width: 16px;
    height: 16px;
    background: #C4C4C4;
    border-radius: 12px;
    margin: 0 8px 0 8px;
}

.slider__dot--active {
    width: 40px;
    background: #C40021;
}

.slider__interface {
    display: none;
    align-items: center;
    padding-right: 20px;
    justify-content: center;
}

.slider__arrow--inactive path {
    fill: #c4c4c4;
}

.text-700 {
    font-weight: 700;
}

.text-red {
    color: #C40021;
}


/* navigation */

.navigation {
    background-color: #ffffff;
}

.nav-content {
    border-bottom: 1px solid #CCE1EA;
    /* margin-bottom: 65px; */
}

.logo {
    margin-right: 95px;
}

.job-nav {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.number-nav {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #C40021 !important;
    transition: .3s;
}

.number-nav:hover {
    transition: .3s;
    transform: scale(1.03);
}

.btn-nav {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 17px;
    text-align: right;
    background-color: transparent !important;
    transition: .3s;
}

.btn-nav:hover {
    text-shadow: 0px -1px #e81414;
    transform: scale(1.03);
    transition: .3s;
}


/* navigation */


/* header */

.label-sale-mobile {
    display: none;
}

.label-sale {
    z-index: 20;
    left: 50%;
    top: 190px;
    transform: translateX(-51%);
}

.label-yellow {
    z-index: 25;
}

.label-sale__price {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    transform: rotate( -31.4deg);
    z-index: 22;
    left: 15%;
    top: 71px;
}

.label-sale__price span {
    font-weight: 800;
}

.header {
    background-image: url(../img/common-fon-one.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: -100px;
    padding-top: 115px;
}

.header-title {
    font-style: normal;
    font-weight: 800;
    font-size: 39px;
    line-height: 45px;
    width: 475px;
    margin-bottom: 32px;
}

.header-gift {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    height: fit-content;
    position: relative;
    padding-left: 15px;
}

.header-gift::before {
    position: absolute;
    display: table;
    content: '';
    background: #C40021;
    width: 4px;
    height: 80px;
    left: 0;
    top: -2px;
}

.froze {
    background: #FFFFFF;
    border: 1px solid rgba(224, 224, 224, 0.58);
    border-radius: 10px;
    padding: 9px 25px;
}

.froze-text {
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

.froze-bold {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.header-gift-wei {
    font-weight: 700;
}

.window-30 {
    position: absolute;
    right: -170px;
    top: 0;
    transform: translateY(-13%);
}

.big-window {
    transform: translateX(-44%);
    left: 50%;
    top: -190px;
}

.form-general__block {
    z-index: 0;
    margin-right: 43px;
}

.form-block {
    width: fit-content;
    z-index: 0;
}

.form-title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.form-text {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.input-form {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #6D6D6D;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 10px;
    width: 315px;
    padding: 19px 0 19px 28px;
}

.input-form:hover,
.input-form:focus {
    background: #FFFFFF;
    border: 1px solid #BBBBBB !important;
}

.btn-header__width {
    width: 315px;
    /* margin-bottom: 70px; */
}

.form-fon {
    max-width: 400px;
    z-index: -1;
    top: -30px;
    left: -40px;
}

.yellow-fon {
    background: #F6DD7D;
    border: 1px solid #F0A90F;
    box-sizing: border-box;
    border-radius: 15px;
    height: 510px;
    width: 370px;
    z-index: -2;
    left: -25px;
    top: -45px;
}

.header-elements {
    width: 1300px;
    margin: 200px auto 0;
}

.header-elements__item {
    width: 290px;
}

.header-elements__text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
}


/* header */


/* profile-system */

.profile-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    width: 960px;
    margin: 0 auto 60px;
}

.profile-slider {
    max-width: 870px;
    width: 870px;
    height: 390px;
}

.slider-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
}

.slider-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.specification-item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    padding-left: 33px;
}

.specification-item:first-child {
    font-weight: 700;
    padding-left: 0px;
}

.specification-item:not(:first-child)::before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    top: 5px;
    left: 0;
    background-image: url(../img/profile-systems/ok.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.top-number {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
}

.prices-top {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #97B7CB;
}

.prices-top__left {
    margin-right: 90px;
}

.btn-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    bottom: 18px;
    left: 52px;
}

.prices-bottom {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    width: 500px;
}

.skip-slider {
    background: #FFFFFF;
    border: 1px solid #97B7CB;
    box-sizing: border-box;
    border-radius: 46px;
    padding: 5px 7px;
    width: fit-content;
    margin-bottom: 170px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 480px;
}

.skip-btn {
    width: 50%;
    padding: 10px 65px;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 53px;
}

.skip-btn_active {
    background: #FED539;
    border: 1px solid #F0A90F;
    box-sizing: border-box;
    border-radius: 53px;
}

.carousel-control-prev-icon {
    transform: rotate(180deg);
    background-image: url(../img/profile-systems/next-ar.png) !important;
    background: #FFFFFF;
    border: 1px solid #B3CDDD;
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    z-index: 100;
}

.carousel-control-next-icon {
    background-image: url(../img/profile-systems/next-ar.png) !important;
    background: #FFFFFF;
    border: 1px solid #B3CDDD;
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    z-index: 100;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
    height: fit-content !important;
    width: fit-content !important;
    top: 33%;
    filter: grayscale(100%);
    transition: 0.3s;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    transition: 0.3s;
    filter: none;
}

.carousel-control-next {
    right: -100px;
}

.carousel-control-prev {
    left: -530px;
}

.carousel-indicators {
    width: fit-content;
    position: absolute;
    right: auto;
    top: -60px;
    bottom: auto;
    left: 0;
    transform: translateX(-40%);
}

.carousel-indicators--two {
    transform: translateX(-37%) !important;
}

.carousel-indicators .active {
    background-color: red;
}

.carousel-indicators [data-bs-target] {
    width: 135px;
    height: 2px;
    margin-right: 0px;
    margin-left: 0px;
    text-indent: 0;
    opacity: 1;
}

.text-abs-btn {
    top: -35px;
    left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.hit {
    top: -25px;
    left: 93px;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 150%;
    color: #FFFFFF;
    background: #C40021;
    border-radius: 4px;
    padding: 2px 8px;
}

.btn-carusel--item:first-child .hit {
    left: auto;
    right: 20px;
}

.btn-carusel--item:nth-child(2) .hit {
    left: auto;
    right: 37px;
}

.hit-two {
    top: -25px;
    left: 90px;
    font-style: normal;
    font-weight: bold;
    font-size: 8.5px;
    line-height: 130%;
    color: #FFFFFF;
    background: #C40021;
    border-radius: 4px;
    padding: 2px 7px;
}

.btn-carusel--item__two:nth-child(1) .hit-two {
    left: auto;
    right: 3px;
}

.text-abs-btn--two {
    left: 4px !important;
}


/* profile-system */


/* options */

.common-one {
    padding-top: 300px;
    background-position-y: -107px;
    background-image: url(../img/COMMON-TWO/common-fon-two.png);
    background-repeat: no-repeat;
}

.options {
    margin-bottom: 100px;
}

.options-block {
    padding-bottom: 115px;
    border-bottom: 1px solid #CCE2EA;
    margin-bottom: 115px;
}

.additional-options {
    margin-left: 150px;
    margin-top: -50px;
}


/* options */


/* buy-profitable */

.profitable-title {
    margin-bottom: 32px;
}

.date-profitable {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 815px;
    margin: 0 auto 75px;
}

.date-profitable span {
    font-weight: 700;
}

.images-info {
    margin-bottom: 120px;
}

.measurer-block {
    margin-bottom: 50px;
}

.metrs-images {
    position: static;
}

.measurer-text__form {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.05em;
}


/* buy-profitable */


/* quiz */

.quiz-title {
    text-align: left;
    width: 610px;
}

.sale-quiz {
    margin-right: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    margin-bottom: 34px;
    width: fit-content;
}

.test-quiz {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 50px;
}

.test-quiz span {
    font-size: 36px;
    line-height: 44px;
    font-weight: 800;
}

.sale-quiz__red {
    background: #D11131;
    border-radius: 8px;
    padding: 5px 15px;
    color: #ffffff;
}

.quiz-block-click {
    width: 430px;
    margin-bottom: 115px;
}

.quiz-block:not(:first-child) .quiz-block-click {
    margin-bottom: 50px;
}

.quiz-block:nth-child(5) .quiz-block-click .quiz-input__picture {
    filter: grayscale(100%);
}

.quiz-block:last-child .quiz-title {
    margin-bottom: 160px;
}

.finished {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #C40021;
}

.fiished-text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #343A40;
}

.quiz__input-tel {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #6D6D6D;
    padding: 19px 0 19px 40px;
    margin-bottom: 22px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 10px;
    width: 315px;
}

.quiz-block:nth-child(6) .quiz-left .sale-quiz {
    margin-bottom: 95px;
}

.quiz-block:nth-child(6) .quiz-left .test-quiz {
    width: 560px;
}

.quiz__input-tel:hover {
    border: 1px solid #BBBBBB !important;
}

.quiz__input-tel:focus {
    border: 1px solid #BBBBBB !important;
}

.quiz__label {
    /* margin-bottom: 10px; */
    display: block;
}

.quiz-input__picture {
    transition: 0.3s;
    border: 2px solid transparent;
    cursor: pointer;
}

.quiz__input:checked+.quiz-input__picture {
    border: 2px solid #C40021;
    border-radius: 25px;
}

.quiz-block:nth-child(5) .quiz-block-click .quiz__input:checked+.quiz-input__picture {
    filter: none;
    border: 2px solid #C40021;
    border-radius: 12px;
}

.quiz__input {
    display: none;
}

.btn-quiz-width {
    width: 215px;
}

.quiz-picture-big {
    width: 820px;
    /* margin-top: 170px; */
}

.offer-quiz {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
}

.btn-back {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #7D7D7D;
    background: #DDDDDD;
    border-radius: 10px;
    transition: .3s;
    padding: 18px 53px;
}

.btn-back:hover {
    transition: .3s;
    transform: scale(1.03);
    color: #383838;
    background: #ffffff;
}


/* quiz */


/* pvh */

.pvh {
    margin-top: 100px;
    background-position-y: -90px;
    z-index: 10;
    background-image: url(../img/pvh/pvh-fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 190px;
    padding-bottom: 195px;
    background-size: 1980px 1300px;
}

.pvh-text {
    max-width: 780px;
}

.pvh-text__information {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 140%;
}


/* pvh */


/* services */

.services {
    z-index: 10;
    background-image: url(../img/services-/services-fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1980px 1220px;
    padding-top: 240px;
    padding-bottom: 310px;
}

.services__title {
    margin-bottom: 85px;
}

.services__window--mobile {
    display: none;
}

.services__field {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.services__field--mobile {
    margin-bottom: 55px;
}

.services__card {
    width: 380px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.services__card:hover {
    transform: translateY(-20px);
}

.services__img {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.services__card__title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 130%;
    margin-bottom: 10px;
}

.services__box {
    display: flex;
    align-items: center;
}

.services__icon {
    margin-right: 10px;
}

.services__price--old {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-decoration-line: line-through;
}

.services__price {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #C40021;
}

.services__button {
    background: #D11131;
    box-shadow: 0px 19px 16px -15px rgba(227, 58, 86, 0.74);
    border-radius: 10px;
    padding: 18px 45px 18px 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #FED539;
}


/* services */


/* work */

.work {
    padding-top: 100px;
    background-image: url(../img/work/bg.png);
    background-repeat: no-repeat;
    background-position-y: top;
    margin-bottom: 200px;
}

.work__title {
    margin-bottom: 90px;
}

.work__img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.work__img--main {
    width: 730px;
    height: 500px;
}

.work__img--small {
    width: 355px;
    height: 240px;
}

.work__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(730px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.work__box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    grid-gap: 15px;
    justify-items: center;
    width: 730px;
}

.work__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    text-decoration-line: underline;
    color: #C40021 !important;
    margin: auto;
    display: none;
}


/* work */


/* difference */

.difference {
    background-image: url(../img/difference/bg.png);
    background-repeat: no-repeat;
    background-position-y: 100px;
    position: relative;
    padding-bottom: 130px;
}

.difference__tree {
    position: absolute;
    left: 0;
    top: 10%;
}

.difference__title {
    margin-bottom: 15px;
}

.difference__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 75px;
}

.difference__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
    justify-items: center;
    grid-gap: 30px;
    margin-bottom: 220px;
}

.difference__row--bottom {
    display: flex;
    align-items: center;
}

.difference__card {
    width: 333px;
}

.difference__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.difference__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.difference__girl {
    margin-right: 145px;
}

.difference__value {
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 130%;
    color: #C40021;
}

.difference__value__text {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
    max-width: 540px;
}


/* difference */


/* customer-reviews */

.rev {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 250px;
}

.rev__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rev__arrow {
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #B3CDDD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rev__window {
    max-width: 1300px;
}

.rev__window--mobile {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.rev__arrow--desc--inactive path {
    stroke: #AEC2CF;
}

.rev__arrow--mobile--inactive path {
    fill: #c4c4c4;
}

.rev__interface {
    display: none;
    align-items: center;
    justify-content: space-around;
}

.rev__dots {
    display: flex;
}

.rev__card {
    width: 380px;
}

.rev__card__wrap {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 85px 50px 50px 40px;
    border-top: 4px solid #C40021;
    height: 515px;
}

.rev__card__img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(118px, 50%);
}

.rev__card__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #5E626C;
    margin-bottom: 50px;
}

.rev__card__name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #1C182B;
}

.rev__window {
    overflow: hidden;
    max-width: 1240px;
}

.rev__window--mobile {
    margin-bottom: 40px;
}

.rev__field {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}


/* customer-reviews */


/* certificates */

.cert {
    background-image: url(../img/services-/services-fon.png);
    background-repeat: no-repeat;
    background-position-y: 150px;
}

.cert__title {
    margin-bottom: 85px;
}

.cert__row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cert__card {
    margin-right: 30px;
}

.cert__card:last-of-type {
    margin-right: 0;
}

.cert__window {
    display: none;
    overflow: hidden;
    margin-bottom: 50px;
}

.cert__interface {
    display: none;
    align-items: center;
    justify-content: space-around;
}

.cert__dots {
    display: flex;
}


/* certificates */


/* over-footer */

.over-footer {
    background-color: #fff;
    padding-top: 110px;
    margin-bottom: -115px;
}

.over-footer__box {
    padding-top: 55px;
    margin-right: 110px;
}

.over-footer__form {
    height: 384px;
    width: 409px;
}

.form-fon-footer {
    height: 351px;
    max-width: 409px;
    z-index: -1;
    left: -48px;
    top: -45px;
    width: 409px;
}

.yellow-fon-footer {
    background: #FED539;
    border: 1px solid #F0A90F;
    box-sizing: border-box;
    border-radius: 15px;
    width: 367px;
    height: 384px;
    z-index: -2;
    top: -62px;
    left: -25px;
}

.over-footer__row {
    display: flex;
    align-items: flex-start;
}

.over-footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    max-width: 570px;
}

.over-footer__title {
    max-width: 600px;
    text-align: left;
    margin: 0;
    margin-bottom: 15px;
}


/* over-footer */


/* footer */

.footer {
    background-color: #C40021;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__box--last {
    margin-left: auto;
    text-align: right;
}

.footer__box--first {
    margin-right: 185px;
}

.footer__logo {
    margin-bottom: 20px
}

.footer__tel {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF !important;
}

.footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF !important;
}

.footer__text--address {
    margin-bottom: 20px;
}

.footer__row {
    display: flex;
    align-items: flex-start;
    position: relative;
}


/* footer */


/* modal */

.label-radio {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    font-size: 12px;
}

.real-radio {
    display: none;
}

.custom-radio {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    vertical-align: middle;
    background: #d65369;
    cursor: pointer;
}

.custom-radio--text {
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    width: 280px;
}

.custom-radio img {
    right: 0;
    position: absolute;
    top: 0;
    transform: translate(-27%, 35%);
}

.label-radio input:checked+.custom-radio {
    background: #C40021;
}

.modal-content {
    background-color: #EDF5F8 !important;
}

.title-modal {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #C40021;
    margin-top: 60px;
}

.modal-text {
    margin: 0 auto;
    width: 580px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #343A40;
}

.modal-dialog {
    max-width: 680px;
    margin: 1.75rem auto;
}

.form-input {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 50px 50px -40px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #929292;
    width: 380px;
    padding: 24px 0 24px 30px;
}

.form-input:hover {
    border: 1px solid #E0E0E0;
    box-shadow: 0px 50px 50px -40px rgba(0, 0, 0, 0.15);
}

.form-input:focus {
    border: 1px solid #E0E0E0;
    box-shadow: 0px 50px 50px -40px rgba(0, 0, 0, 0.15);
}

.btn-modal-width {
    margin-bottom: 90px;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    padding: 0rem !important;
    border-bottom: none;
    /* border-top-left-radius: calc(.3rem - 1px); */
    /* border-top-right-radius: calc(.3rem - 1px); */
}

.btn-close {
    box-sizing: content-box;
    width: fit-content;
    height: 1em;
    padding: .25em .25em;
    background: none;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #B4B4B4;
}

.modal-header .btn-close {
    margin: 1.5rem 7.5rem -0.5rem auto;
}

.modal-thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF5F8 !important;
    background-image: url(../img/modal/modal-win.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
    position: fixed;
    width: 380px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 500px;
    border: 1px solid rgb(74, 124, 139);
}


/* modal */