/* base */

* {
    box-sizing: border-box;
    transition: .2s;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

html,
body {
    font-family: 'Montserrat', sans-serif !important;
    line-height: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #000000;
    background-color: #EDF5F8 !important;
}

a,
a:hover {
    color: #000000 !important;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer !important;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    font-family: 'Montserrat', sans-serif !important;
    border: none;
    outline: none;
    margin: 0px;
    cursor: pointer;
}

input:hover,
button:hover {
    cursor: pointer;
    border: 0;
    outline: none;
    box-shadow: none;
}

input:focus,
button:focus {
    cursor: pointer;
    box-shadow: none;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 5px 0 5px;
}

@media (max-width: 1250px) {
    .container {
        max-width: 1250px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
        padding: 0 10px 0 10px;
    }
}

.obj-title {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.05em;
}

@media (max-width: 992px) {
    .obj-title {
        font-size: 29px;
        line-height: 40px;
    }
}

@media (max-width: 767px) {
    .obj-title {
        font-size: 24px;
        line-height: 29px;
    }
}

.header-color {
    color: #D11131;
}

.btn-form {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #FED539;
    background: #D11131;
    box-shadow: 0px 19px 16px -15px rgba(227, 58, 86, 0.74);
    border-radius: 10px;
    transition: .3s;
    padding: 18px 53px;
}

@media (max-width: 576px) {
    .btn-form {
        padding: 18px 19px;
    }
}

.btn-form:hover {
    box-shadow: 0px 19px 16px -15px rgba(102, 56, 139, 0.74);
    background: rgb(102, 56, 139);
    transition: .3s;
    transform: scale(1.02);
}

.slider__dots {
    display: flex;
    margin: 0 25px;
}

.slider__dot {
    width: 16px;
    height: 16px;
    background: #C4C4C4;
    border-radius: 12px;
    margin: 0 8px 0 8px;
}

.slider__dot--active {
    width: 40px;
    background: #C40021;
}

.slider__interface {
    display: none;
    align-items: center;
    padding-right: 20px;
    justify-content: center;
}

.slider__arrow--inactive path {
    fill: #c4c4c4;
}

.text-700 {
    font-weight: 700;
}

.text-red {
    color: #C40021;
}


/* navigation */

.navigation {
    background-color: #ffffff;
}

.nav-content {
    border-bottom: 1px solid #CCE1EA;
    /* margin-bottom: 65px; */
}

.logo {
    margin-right: 95px;
}

.job-nav {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.number-nav {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #C40021 !important;
    transition: .3s;
}

.number-nav:hover {
    transition: .3s;
    transform: scale(1.03);
}

.btn-nav {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 17px;
    text-align: right;
    background-color: transparent !important;
    transition: .3s;
}

.btn-nav:hover {
    text-shadow: 0px -1px #e81414;
    transform: scale(1.03);
    transition: .3s;
}


/* navigation */


/* header */

.header {
    background-image: url(../img/common-fon-one.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: -100px;
    padding-top: 115px;
}

.header-title {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    width: 585px;
    margin-bottom: 50px;
}

.header-gift {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    height: fit-content;
    position: relative;
    padding-left: 20px;
}

.header-gift::before {
    position: absolute;
    display: table;
    content: '';
    background: #C40021;
    width: 4px;
    height: 80px;
    left: 0;
    top: -10px;
}

.header-gift-wei {
    font-weight: 700;
}

.window-30 {
    position: absolute;
    right: -170px;
    top: 0;
    transform: translateY(-35%);
}

.big-window {
    transform: translateX(-44%);
    left: 50%;
    top: -190px;
}

.form-general__block {
    z-index: 0;
    margin-right: 43px;
}

.form-block {
    width: fit-content;
    z-index: 0;
}

.form-title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.form-text {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.input-form {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #6D6D6D;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 10px;
    width: 315px;
    padding: 19px 0 19px 28px;
}

.input-form:hover,
.input-form:focus {
    background: #FFFFFF;
    border: 1px solid #BBBBBB !important;
}

.btn-header__width {
    width: 315px;
    /* margin-bottom: 70px; */
}

.form-fon {
    max-width: 400px;
    z-index: -1;
    top: -30px;
    left: -40px;
}

.yellow-fon {
    background: #F6DD7D;
    border: 1px solid #F0A90F;
    box-sizing: border-box;
    border-radius: 15px;
    height: 510px;
    width: 370px;
    z-index: -2;
    left: -25px;
    top: -45px;
}

.big-header__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    width: 940px;
    margin: 200px auto 0;
}


/* header */


/* pleasantprices */

.pleasantprices {
    position: relative;
    margin-top: 70px;
    padding-bottom: 50px;
    padding-top: 290px;
    background-image: url(../img/pleasantprices/pleasanprices-fon.png);
    background-repeat: no-repeat;
    background-position-y: -110px;
    background-size: cover;
    margin-bottom: 200px;
}

.name-win {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.pleasantprices-title {
    margin-bottom: 105px;
}

.examples-window {
    margin-bottom: 85px;
}

.examples-block__price {
    margin-bottom: 60px;
}

.examples-price-top {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: line-through;
}

.examples-price-bottom {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.examples-price-bottom span {
    font-weight: 700;
}

.btn-pleasantprices-width {
    justify-content: center;
    display: flex;
    width: 445px;
    margin: 0 auto !important;
}

.pleasantprices-tree {
    transform: translateY(50%);
    bottom: 0;
    left: 0;
}


/* pleasantprices */


/* profile-system */

.profile-systems {
    margin-bottom: 150px;
}

.profile-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    width: 960px;
    margin: 0 auto 60px;
}

.profile-slider {
    max-width: 870px;
    width: 870px;
    height: 390px;
}

.slider-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
}

.slider-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.specification-item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    padding-left: 33px;
}

.specification-item:first-child {
    font-weight: 700;
    padding-left: 0px;
}

.specification-item:not(:first-child)::before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    top: 5px;
    left: 0;
    background-image: url(../img/profile-systems/ok.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.top-number {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
}

.prices-top {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #97B7CB;
}

.prices-top__left {
    margin-right: 90px;
}

.btn-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    bottom: 18px;
    left: 52px;
}

.prices-bottom {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    width: 500px;
}

.skip-slider {
    background: #FFFFFF;
    border: 1px solid #97B7CB;
    box-sizing: border-box;
    border-radius: 46px;
    padding: 5px 7px;
    width: fit-content;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 480px;
}

.skip-btn {
    width: 50%;
    padding: 10px 65px;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 53px;
}

.skip-btn_active {
    background: #FED539;
    border: 1px solid #F0A90F;
    box-sizing: border-box;
    border-radius: 53px;
}


/* profile-system */


/* options */

.options {
    margin-bottom: 100px;
}

.options-block {
    padding-bottom: 115px;
    border-bottom: 1px solid #CCE2EA;
    margin-bottom: 115px;
}

.additional-options {
    margin-left: 150px;
    margin-top: -50px;
}


/* options */


/* buy-profitable */

.profitable-title {
    margin-bottom: 32px;
}

.date-profitable {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 815px;
    margin: 0 auto 75px;
}

.date-profitable span {
    font-weight: 700;
}

.images-info {
    margin-bottom: 120px;
}

.measurer-block {
    margin-bottom: 50px;
}

.metrs-images {
    position: static;
}

.measurer-text__form {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.05em;
}


/* buy-profitable */


/* quiz */


/* quiz */


/* services */

.services {
    z-index: 10;
    background-image: url(../img/services-/services-fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1980px 1360px;
    padding-top: 240px;
    padding-bottom: 310px;
}

.services__title {
    margin-bottom: 85px;
}

.services__window--mobile {
    display: none;
}

.services__field {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.services__field--mobile {
    margin-bottom: 55px;
}

.services__card {
    width: 366px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.services__card:hover {
    transform: translateY(-20px);
}

.services__img {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.services__card__title {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 130%;
    margin-bottom: 10px;
}

.services__box {
    display: flex;
    align-items: center;
}

.services__icon {
    margin-right: 10px;
}

.services__price--old {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    text-decoration-line: line-through;
}

.services__price {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #C40021;
}

.services__button {
    background: #D11131;
    box-shadow: 0px 19px 16px -15px rgba(227, 58, 86, 0.74);
    border-radius: 10px;
    padding: 18px 45px 18px 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #FED539;
}


/* services */


/* work */

.work {
    padding-top: 100px;
    background-image: url(../img/work/bg.png);
    background-repeat: no-repeat;
    background-position-y: top;
    margin-bottom: 200px;
}

.work__title {
    margin-bottom: 90px;
}

.work__img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.work__img--main {
    width: 730px;
    height: 500px;
}

.work__img--small {
    width: 355px;
    height: 240px;
}

.work__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(730px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.work__box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    grid-gap: 15px;
    justify-items: center;
    width: 730px;
}

.work__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    text-decoration-line: underline;
    color: #C40021 !important;
    margin: auto;
    display: none;
}


/* work */


/* difference */

.difference {
    background-image: url(../img/difference/bg.png);
    background-repeat: no-repeat;
    background-position-y: 100px;
    position: relative;
    padding-bottom: 130px;
}

.difference__tree {
    position: absolute;
    left: 0;
    top: 10%;
}

.difference__title {
    margin-bottom: 15px;
}

.difference__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 75px;
}

.difference__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
    justify-items: center;
    grid-gap: 30px;
    margin-bottom: 220px;
}

.difference__row--bottom {
    display: flex;
    align-items: center;
}

.difference__card {
    width: 333px;
}

.difference__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.difference__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.difference__girl {
    margin-right: 145px;
}

.difference__value {
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 130%;
    color: #C40021;
}

.difference__value__text {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
    max-width: 540px;
}


/* difference */


/* customer-reviews */

.rev {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 250px;
}

.rev__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rev__arrow {
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #B3CDDD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rev__window {
    max-width: 1300px;
}

.rev__window--mobile {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.rev__arrow--desc--inactive path {
    stroke: #AEC2CF;
}

.rev__arrow--mobile--inactive path {
    fill: #c4c4c4;
}

.rev__interface {
    display: none;
    align-items: center;
    justify-content: space-around;
}

.rev__dots {
    display: flex;
}

.rev__card {
    width: 380px;
}

.rev__card__wrap {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 85px 50px 50px 40px;
    border-top: 4px solid #C40021;
    height: 515px;
}

.rev__card__img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(118px, 50%);
}

.rev__card__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #5E626C;
    margin-bottom: 50px;
}

.rev__card__name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #1C182B;
}

.rev__window {
    overflow: hidden;
    max-width: 1240px;
}

.rev__window--mobile {
    margin-bottom: 40px;
}

.rev__field {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}


/* customer-reviews */


/* certificates */

.cert {
    background-image: url(../img/services-/services-fon.png);
    background-repeat: no-repeat;
    background-position-y: 150px;
}

.cert__title {
    margin-bottom: 85px;
}

.cert__row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cert__card {
    margin-right: 30px;
}

.cert__card:last-of-type {
    margin-right: 0;
}

.cert__window {
    display: none;
    overflow: hidden;
    margin-bottom: 50px;
}

.cert__interface {
    display: none;
    align-items: center;
    justify-content: space-around;
}

.cert__dots {
    display: flex;
}


/* certificates */


/* over-footer */

.over-footer {
    background-color: #fff;
    padding-top: 110px;
    margin-bottom: -115px;
}

.over-footer__box {
    padding-top: 55px;
    margin-right: 110px;
}

.over-footer__form {
    height: 384px;
    width: 409px;
}

.form-fon-footer {
    height: 351px;
    max-width: 409px;
    z-index: -1;
    left: -48px;
    top: -45px;
    width: 409px;
}

.yellow-fon-footer {
    background: #FED539;
    border: 1px solid #F0A90F;
    box-sizing: border-box;
    border-radius: 15px;
    width: 367px;
    height: 384px;
    z-index: -2;
    top: -62px;
    left: -25px;
}

.over-footer__row {
    display: flex;
    align-items: flex-start;
}

.over-footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    max-width: 570px;
}

.over-footer__title {
    max-width: 600px;
    text-align: left;
    margin: 0;
    margin-bottom: 15px;
}


/* over-footer */


/* footer */

.footer {
    background-color: #C40021;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__box--last {
    margin-left: auto;
    text-align: right;
}

.footer__box--first {
    margin-right: 185px;
}

.footer__logo {
    margin-bottom: 20px
}

.footer__tel {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF !important;
}

.footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF !important;
}

.footer__text--address {
    margin-bottom: 20px;
}

.footer__row {
    display: flex;
    align-items: flex-start;
    position: relative;
}


/* footer */